<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-8 form-group">
                    <label for="name">Name:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        #ingredientName>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="amount">Amount:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="amount"
                        #ingredientAmount
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button (click)="addIngredient()" class="btn btn-success" type="button">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>